.block-container {
    display: flex;
    width: calc(100vw - 2em); /* Subtract padding from content class */
    max-width: 1400px;
    margin: auto;
    margin-bottom: 1.5em;
}

.block-container > * {
    margin: 0 0.5em;
}

@media only screen and (max-width: 500px) {
    .block-container {
        flex-direction: column !important;
    }
}