#big-content-block {
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 100%;
    color: black;
}

#big-content-block:hover {
    cursor: pointer;
}

#big-content-block #info {
    text-align: center;
    padding: 0.5em 2em;
}

#big-content-block img {
    width: 210px;
    height: 210px;
}

#big-content-name {
    font-size: 32px;
    margin-top: 16px;
}

#big-content-subname {
    font-size: 18px;
    font-style: italic;
    margin-top: 4px;
}

#big-content-desc {
    font-size: 18px;
    margin-top: 6px;
}

@media only screen and (max-width: 1024px) {
    #big-content-subname {
        display: none;
    }
}