#create-enrichment {
    display: flex;
    flex-direction: row;
    margin: 20px 30px;
}

#create-enrichment-form {
    display: flex;
    flex-direction: column;
}

#create-enrichment-form input[type="text"], #create-enrichment-form input[type="date"], #create-enrichment textarea {
    width: 100%;
}

#create-enrichment-form p {
    margin-bottom: 0.4em;
    max-width: calc(50ch - 2em);
}

#create-enrichment-form textarea {
    resize: none;
    height: 10ch;
}

#create-enrichment-preview #enrichment-block {
    width: calc(100vw - 490px) !important;
    margin-left: 30px;
}

#create-enrichment-time {
    margin: 10px 0;
}

#create-enrichment-choose-time {
    margin-top: 10px;
}

#weekdays-container {
    display: flex;
    flex-direction: column;
}

#create-enrichment-form input[type="radio"], #create-enrichment-form input[type="checkbox"] {
    margin: 5px;
}

@media only screen and (max-width: 992px) {
    #create-enrichment {
        flex-direction: column;
        align-items: center;
    }
    #create-enrichment-preview #enrichment-block {
        width: 80vw !important;
        margin-top: 20px;
        margin-left: 0;
    }
}

