#footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--blue);
    padding: 0.6em;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

#footer-contents {
    display: flex;
    flex-direction: row;
}

#footer-contents span {
    color: white;
}

#footer-contents-right {
    flex: 1;
    text-align: right;
    margin-top: auto;
    font-weight: bold;
}