.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 98;
}

.modal-close-btn {
    width: 28px;
    height: 28px;
    position: absolute;
    background-color: rgb(206, 206, 206);
    border-radius: 12px;
    top: 14px;
    right: 14px;
}

.modal-close-btn:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.3em 2.5em;
    width: 100vw;
    border-left: 16px solid var(--blue);
    border-right: 16px solid var(--orange);
    z-index: 99;
}

.modal-select {
    margin-top: 16px;
    padding-right: 2em;
    margin-bottom: 12px;
}

.modal-name {
    margin-top: 2px;
    margin-bottom: 8px;
}