:root {
    --blue: rgb(24, 12, 67);
    --blue-alt: rgb(148, 135, 187);
    --orange: rgb(236, 163, 26);
    --orange-alt: rgb(255, 202, 104);
    --header-height: 120px;
    --footer-height: 80px;
}

html {
    background-color: #ebded6;
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

#app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app-container>* {
    margin-top: calc(var(--header-height) + 30px);
    margin-bottom: calc(var(--footer-height) + 15px);
}

a {
    color: var(--orange);
}

a:hover {
    color: var(--orange-alt);
}

input[type="text"],
input[type="date"],
input[type="password"],
textarea,
button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    /* Default font from root. */
    font-size: 0.9em;
    padding: 0.2em;
}

.mobile {
    display: none;
}

.not-mobile-inline {
    display: inline;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.content {
    padding: 1em;
}

.spacer-md {
    width: 16px;
    height: 16px;
}

@media only screen and (max-width: 500px) {
    .mobile {
        display: block !important;
    }

    .not-mobile-inline {
        display: none !important;
    }
}