:root {
    --blue: rgb(24, 12, 67);
    --blue-alt: rgb(148, 135, 187);
    --orange: rgb(236, 163, 26);
    --orange-alt: rgb(255, 202, 104);
    --header-height: 120px;
    --footer-height: 80px;
}

html {
    background-color: #ebded6;
}

html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

#app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#app-container > * {
    margin-top: calc(var(--header-height) + 30px);
    margin-bottom: calc(var(--footer-height) + 15px);
}

a {
    color: var(--orange);
}

a:hover {
    color: var(--orange-alt);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .mobile {
        display: block !important;
    }
}